@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
 
@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
 
@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes spin-slow {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeinup {
  0% { opacity: 0; transform: translateY(10px); }
  100% { opacity: 1; transform: translateY(0px); }
}

@layer utilities {
  .font-outline-2 {
    -webkit-text-stroke: 2px black;
  }
}

.animate-fadein {
  animation: fadeinup 1s ease-in-out;
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

@theme inline {
  --color-brand-pink: #FF6FB5;
  --color-brand-green: #C1D26C;
  --color-brand-blue: #4fc3f7;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-inter);
  --font-mono: var(--font-geist-mono);
  --font-bubble: var(--font-cherry-bomb-one);

  --text-heading-xl: 3rem;
  --leading-heading-xl: 3.5rem;

  --text-heading-lg: 2.5rem;
  --leading-heading-lg: 3rem;

  --text-heading-md: 2rem;
  --leading-heading-md: 2.5rem;

  --text-heading-sm: 1.75rem;
  --leading-heading-sm: 2.25rem;

  --text-heading-xs: 1.5rem;
  --leading-heading-xs: 2rem;

  --text-heading-2xs: 1.25rem;
  --leading-heading-2xs: 1.75rem;

  --text-xs: 0.625rem;
  --leading-xs: 0.75rem;

  --text-sm: 0.75rem;
  --leading-sm: 1.25rem;

  --text-md: 0.875rem;
  --leading-md: 1rem;

  --text-base: 1rem;
  --leading-base: 1.75rem;

  --text-lg: 1.25rem;
  --leading-lg: 1.75rem;

  --text-7xl: 5rem;
  --leading-7xl: 5.5rem;

  --animate-first: moveVertical 30s ease infinite;
  --animate-second: moveInCircle 20s reverse infinite;
  --animate-third: moveInCircle 40s linear infinite;
  --animate-fourth: moveHorizontal 40s ease infinite;
  --animate-fifth: moveInCircle 20s ease infinite;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
